* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 500px;
  border: 1px solid #0044cc;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  overflow: hidden;
}

header {
  width: 100%;
  padding: 0.75rem;
  background-color: #3f8ef5;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

main {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

footer {
  width: 100%;
  padding: 0.5rem;
  background-color: #3f8ef5;
  color: white;
  text-align: center;
  font-weight: bold;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  margin: 0.5rem 0;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item input[type="checkbox"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-right: 10px;
}

.item label {
  flex-grow: 1;
  font-size: 1rem;
}

.item svg {
  width: 30px;
  height: 30px;
  color: #0077b6;
  cursor: pointer;
  transition: color 0.3s ease;
}

.item svg:hover {
  color: red;
}

.addForm, .searchForm {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  border-bottom: 2px solid #ddd;
}

.addForm input, .searchForm input {
  flex-grow: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.addForm label, .searchForm label {
  font-size: 1rem;
  margin-right: 10px;
  margin-top: 12px;
}
